p.text{
    color:hotpink;
    font-size : 200%;
    background-color: black;
    border-radius: 15px;
    text-align: center;
    text-decoration: underline;
}
body{
    background-color: yellow;
}
h1{
    font-size: 400%;
}